.introContainer {
    height: 495px;
    display: flex;
    width: 100%;
}

.introContainer h2 {
    color: goldenrod;
    font-size: 3rem;
    font-weight: 700;
    text-align: start;
}

.leftContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5%;
}

.rightContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5%;
}

.rightContainer img {
    height: 90%;
}